/.idea/
/target/
/db-datadir/
/docker/base-image/id_rsa.pub
/docs/.obsidian/
/cached-heightmap.png
/cached-shademap.png

/libs/sharedlogic/target/
/libs/sharedmodels/target/
/libs/javafxdependencies/target/
/libs/goapcom/target/
/libs/observer/target/
/libs/commons/target/
/libs/maze/target/
/libs/tacviewfx/target/
/libs/dynamicproperties/target/
/libs/dynamicproperties/src/test/resources/testpath/RECOMCommander/file.properties

/services/recom-backend/target/
/services/recom-backend/src/test/resources/test
/services/recom-commander/target/
