/.idea/
/target/
/db-datadir/
/docker/base-image/id_rsa.pub
/docs/.obsidian/
/cached-heightmap.png

/libs/sharedmodels/target/
/libs/javafxdependencies/target/
/libs/goapcom/target/
/libs/observer/target/
/libs/rendertools/target/
/libs/maze/target/
/libs/tacviewfx/target/
/libs/dynamicproperties/target/

/services/recom-backend/target/
/services/recom-backend/src/test/resources/test
/services/recom-commander/target/
